header{
    background-color: #FF9E9E;
    padding: 0px;
    margin: 0px;
    height: 250px;
    background;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo-corpo{
    display: flex;
    justify-content: center;
}
.div-imagem-p1{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
    justify-content: space-around;
}
.body{
  margin: 0%;
  padding: 0%;  
}
.header{
    height: 250px;
    align-items: center;
    background-color: #FE9E9E;
    display: flex;
}